#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*Header*/
body {
  margin: 0;
  padding: 0;
}


.search-input {
  background-color: rgb(169, 170, 245);
  border: none;
  outline: none;
  color: aliceblue;
  position: relative;
  border-radius: 10px;
  margin-top: 10px;

}

.search1 {
  background-color: transparent;
  border: none;
  outline: none;
  color: aliceblue;
  /* Asegura que los pseudoelementos estén posicionados correctamente */
}

/* Pseudoelemento para la línea por debajo */
.search-input::after {
  content: "";
  /* Necesario para que el pseudoelemento se muestre */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  /* Altura de la línea */
  background-color: yellow;
  /* Color de la línea */
}


.header ol {
  list-style: none;
  display: flex;
  /*Sirve para poner la lista de elementos de la lista horizontalmente*/
  height: inherit;
}

.header ol li {
  height: inherit;
}

.link:hover {
  color: white;
  background-color: #00438D;
  border: 0.5px solid #D5D9D9;
}

ol {
  margin: 0;
  padding: 0;
}

/*End Footer*/
form {
  text-align: center;
}

.tablita {
  display: inline-block;
}

/*Tablaaaaaa Estilos*/
.tabla {
  border-collapse: collapse;
  /*Esta propiedad hace que parezca mas una tabla*/
  font-family: 'Quicksand', sans-serif;
}

table tr th {
  border: 1px solid #D5D9D9;
  width: 100px;
  height: 25px;
  color: white;
  background-color: #00438D;
}

/* Para el estilo de las nuevas celdas */
td {
  border: 1px solid #D5D9D9;
  width: 100px;
  height: 25px;
}

.caja {
  display: block;
}

.caja label {
  font-family: 'Quicksand', sans-serif;
}

.caja input {
  width: 8em;
  height: 2em;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.submit {
  width: 8em;
  height: 2em;
  font-family: 'Quicksand', sans-serif;
  color: white;
  background-color: #00438D;
  border: 2px solid white;
}

.submit2 {
  width: 8em;
  height: 2em;
  font-family: 'Quicksand', sans-serif;
  color: white;
  background-color: rgb(230, 61, 61);
  border: 2px solid white;
}

.submit3 {
  width: 8em;
  height: 2em;
  font-family: 'Quicksand', sans-serif;
  color: white;
  background-color: rgb(103, 194, 122);
  border: none;
}